.big-radios [type=radio] {
    border:0;
    clip:rect(0 0 0 0);
    height:1px;
    margin: -1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px;
}
.big-radios [type=radio] + span::before {
    content: '';
    display:inline-block;
    width:25px;
    height:25px;
    vertical-align: -8px;
    border-radius: 1em;
    border: 0.125em solid #fff;
    border: 1px solid #aaa;
    margin-right:7px;
    -webkit-box-shadow: inset hoff voff blur color;
    -moz-box-shadow: inset hoff voff blur color;
    box-shadow: inset hoff voff blur color;
    transition: 0.15s ease all;
}
.big-radios [type="radio"]:checked + span::before {
    background: rgb(59,153,252);
    background: #fff;
    border:0;
    -webkit-box-shadow: inset 0 0 0 .7em rgb(59,153,252);
    -moz-box-shadow: inset 0 0 0 .7em rgb(59,153,252);
    box-shadow: inset 0 0 0 .7em rgb(59,153,252);
}

/*[type="radio"]:focus + span::after {*/
    /*content: '\0020\2190';*/
    /*font-size: 1.5em;*/
    /*line-height: 1;*/
    /*vertical-align: -0.125em;*/
/*}*/